@model FoodManagement.Models.FOOD_TYPE

@{ ViewBag.Title = "AdminUpdate"; }


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--Bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

        <!--jquery-->
        <script type="text/javascript" src="jquery-3.6.0.min.js"></script>

        <!--External CSS File-->
        <link rel="stylesheet" href="/Content/style_content.css">

        <!--Font awesome code-->
        <script src="https://kit.fontawesome.com/2243ae231d.js" crossorigin="anonymous"></script>

        <script src="~/Scripts/jquery-3.4.1.min.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

        @*<script>
            function check() {
                var password = document.getElementById("password").value;
                var repassword = document.getElementById("repassword").value;

                if (!password.match(repassword)) {
                    document.getElementById("checkPassword").style.color = "red";
                    document.getElementById("checkPassword").innerHTML = "Password and re-type password are not matched";
                }

            }
        </script>*@

        <title>Food Train</title>
    </head>
<body class="update" style="background: rgb(226, 219, 219);">
@using (Html.BeginForm("AdminUpdate", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="form my-4 mx-5">
        <div class="container">
            <div class="row-no-gutters">
                <div class="row">
                    <div class="col-md-5">
                        <img src="/Content/Images/admin-edit.jpg" alt="Admin login image" class="img-fluid">
                    </div>
                    <div class="col-md-7 px-5 pt-4">
                        <h1>update item details</h1>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <form class="myForm">
                            <div class="form-row">
                                <div class="col-md-7 ">
                                    @*<input type="text" class="form-control my-3 p-2" placeholder="Enter food ID">*@
                                    @*<select name="cars" id="cars" class="form-control my-3 p-2">
               <option value="volvo">Volvo</option>
               <option value="saab">Saab</option>
               <option value="mercedes">Mercedes</option>
               <option value="audi">Audi</option>
            </select>*@

                                    @Html.EditorFor(model => model.FOODID, new { htmlAttributes = new { @class = "form-control my-3 p-2" } })
                                    @Html.ValidationMessageFor(model => model.FOODID, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-7">
                                    @*<input type="text" class="form-control my-3 p-2" placeholder="Enter food name">*@

                                    @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control my-3 p-2" } })
                                    @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-7">
                                    @*<input type="text" class="form-control my-3 p-2" placeholder="Enter the price">*@

                                    @Html.EditorFor(model => model.PRICE, new { htmlAttributes = new { @class = "form-control my-3 p-2" } })
                                    @Html.ValidationMessageFor(model => model.PRICE, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-7">
                                    @*<input type="text" class="form-control my-3 p-2" placeholder="Enter the quantity">*@

                                    @Html.EditorFor(model => model.QUANTITY, new { htmlAttributes = new { @class = "form-control my-3 p-2" } })
                                    @Html.ValidationMessageFor(model => model.QUANTITY, "", new { @class = "text-danger" })
                                </div>
                                <div class="col-md-7">
                                    @*<input type="file" class="form-control my-3 p-2">*@

                                    <input type="file" name="ImageFile" class="form-control my-3 p-2" required />
                                </div>
                                <div class="col-md-7">
                                    @*<button type="button" class="btn-update mt-3 mb-3">SAVE</button>*@

                                    <input type="submit" value="Save" class="btn-update mt-3 mb-3" onclick="check()" />
                                </div>
                                <p>See all food items @Html.ActionLink("Click Here", "Display")</p>
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

</body>
</html>