@model FoodManagement.Models.FOOD_TYPE

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <!--jquery-->
    <script type="text/javascript" src="jquery-3.6.0.min.js"></script>

    <!--External CSS File-->
    <link rel="stylesheet" href="~/Content/style_content.css">

    <!--Font awesome code-->
    <script src="https://kit.fontawesome.com/2243ae231d.js" crossorigin="anonymous"></script>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


</head>
<body class="delete" style="background: rgb(226, 219, 219);">

    <section class="form my-4 mx-5">
        <div class="container">
            <div class="row-no-gutters">
                <div class="row">
                    <div class="col-md-5">
                        <img src="~/Content/Images/admin-delete.jpg" alt="Admin login image" class="img-fluid">
                    </div>
                    <div class="col-md-7 px-5 pt-4">
                        <h3>Are you sure you want to delete this?</h3>

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                        <div class="table-responsive-md">

                            <table align="center" class="table table table-striped">
                                <div class="col-md-7 ">
                                <tr>
                                    <th><center>NAME</center></th>
                                    <td>@Html.DisplayFor(model => model.NAME)</td>
                                </tr>
                        </div>
                        <div class="col-md-7">
                            <tr>
                                <th><center>PRICE</center></th>
                                <td>@Html.DisplayFor(model => model.PRICE)</td>
                            </tr>
                        </div>
                        <div class="col-md-7">
                            <tr>
                                <th><center>QUANTITY</center></th>
                                <td>@Html.DisplayFor(model => model.QUANTITY, new { htmlAttributes = new { @class = "form-control my-3 p-2" } })</td>
                            </tr>
                        </div>
                        <div class="col-md-7">
                            <tr>
                                <th><center>PREVIEW</center></th>
                                <td><img class="card-img" src="@Url.Content(Model.IMGPATH)" alt=" product image"></td>
                            </tr>
                        </div>
                        <div class="col-md-7">
                            <tr>
                                <th><center>FOOD TYPE</center></th>
                                <td>@Html.DisplayFor(model => model.FOOD_ITEM.NAME, new { htmlAttributes = new { @class = "text-center my-3 p-2" } })</td>
                            </tr>
                        </div>
                        </table>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6" id="admin-delete">
                                        <center>
                                            <input type="submit" value="Yes, delete it!" class="btn btn-admin mt-3 mb-3" />
                                        </center>
                                    </div>
                                    <div class="col-md-6" id="admin-cancel">
                                        <center>
                                            <button type="button" class="btn btn-cancel mt-3 mb-3">@Html.ActionLink("No, cancel it!", "Display", new { @class = "btn btn-cancel mt-3 mb-3" })</button>
                                            @*<button type="submit" class="btn btn-cancel mt-3 mb-3">@Html.ActionLink("No, cancel it!", "Display", new { @class = "btn btn-cancel mt-3 mb-3" })</button>*@
                                        </center>
                                    </div>
                                </div>
                            </div>

                            <center>
                                <p>See all food items @Html.ActionLink("Click Here", "Display")</p>
                            </center>
                        }

                    </div>

                </div>
            </div>
        </div>
        </div>
    </section>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>

</html>