@model IEnumerable<FoodManagement.Models.FOOD_TYPE>

@{
    ViewBag.Title = "Content";
}

<h2>Content</h2>

@using (Html.BeginForm("Content", "Home", FormMethod.Get))
{
    <lable>Search</lable>
    <input type="text" name="name" id="name" placeholder="Name" />
    <input type="submit" />
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PRICE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QUANTITY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FOOD_ITEM.NAME)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PRICE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QUANTITY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FOOD_ITEM.NAME)
            </td>
        </tr>
    }

</table>
