@model IEnumerable<FoodManagement.Models.FOOD_TYPE>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <link rel=”stylesheet” href=”https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css” />

    <!--jquery-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!--External CSS File-->
    <link rel="stylesheet" href="/Content/style_content.css">

    <!--Owl carousel2 min css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--Owl carousel2 default theme css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!--Font awesome code-->
    <script src="https://kit.fontawesome.com/2243ae231d.js" crossorigin="anonymous"></script>

    <title>Food Train</title>

    <script>
        function DeleteConfirm() {
            if (confirm("Are you sure want to delete record"))
                return true;
            else
                return false;
        }
    </script>
</head>
<body>
    <div class="container" id="display-food">
        <h1>All Food Items</h1>
        <p>
            <button class="btn btn-danger">
                <a href="AdminAdd">Create New Food Item</a>
                @*@Html.ActionLink("Create New", "AdminAdd")*@
            </button>
        </p>
        <div class="table-responsive-sm">
            <table class="table table-striped table-hover table-bordered" style="box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);">
                <thead class="thead">
                    <tr>
                        <th scope="col">
                            <center>
                                @Html.DisplayNameFor(model => model.NAME)
                            </center>
                        </th>
                        <th scope="col">
                            <center>
                                @Html.DisplayNameFor(model => model.PRICE)
                            </center>
                        </th>
                        <th scope="col">
                            <center>
                                @Html.DisplayNameFor(model => model.QUANTITY)
                            </center>
                        </th>
                        <th scope="col">
                            <center>
                                @Html.Label("TYPE")
                            </center>
                        </th>
                        <th scope="col">
                            <center>
                                PREVIEW
                            </center>
                        </th>
                        <th scope="col">
                            <center>
                                OPTIONS
                            </center>
                        </th>
                    </tr>
                </thead>


                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row">
                                <center>
                                    @Html.DisplayFor(modelItem => item.NAME)
                                </center>
                            </td>
                            <td>
                                <center>
                                    <span style="color:red">Rs.</span>@Html.DisplayFor(modelItem => item.PRICE)
                                </center>
                            </td>
                            <td>
                                <center>
                                    @Html.DisplayFor(modelItem => item.QUANTITY)
                                </center>
                            </td>
                            <td>
                                <center>
                                    @Html.DisplayFor(modelItem => item.FOOD_ITEM.NAME)
                                </center>
                            </td>
                            <td>
                                <center>
                                    <img class="card-img-top" src="@Url.Content(item.IMGPATH)">

                                    @*@Html.DisplayFor(modelItem => item.IMGPATH)*@
                                </center>
                            </td>
                            <td id="btn-edit">
                                <center>
                                    <button class="btn">
                                        @*<a href="AdminUpdate">Edit</a>*@
                                        @Html.ActionLink("EDIT", "AdminUpdate", new { id = item.TYPEID })
                                    </button>

                                    <button class="btn" data-bs-toggle="modal" data-bs-target="#myModal" >
                                        @*<a href="AdminDelete">Delete</a>*@
                                        @Html.ActionLink("DELETE", "AdminDelete", new { @id = item.TYPEID })                                   
                                    </button>
                                </center>
                            </td>
                        </tr>                    
                    }
                </tbody>
            </table>
        </div>

        <!-- The Modal -->
        <!--<div class="modal" id="myModal">
            <div class="modal-dialog modal-fullscreen-sm-down">
                <div class="modal-content">-->
        <!-- Modal Header -->
        <!--<div class="modal-header">
            <h4 class="modal-title">Are you sure you want to delete this?</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>-->
        <!-- Modal body -->
        <!--<div class="modal-body">
            <table class="table tatable-hover">
                <tr>
                    <th>NAME</th>
                    <td></td>
                </tr>
                <tr>
                    <th>PRICE</th>
                    <td></td>
                </tr>
                <tr>
                    <th>QUANTITY</th>
                    <td></td>
                </tr>
                <tr>
                    <th>PREVIEW</th>
                    <td></td>
                </tr>
                <tr>
                    <th>TYPE</th>
                    <td></td>
                </tr>
            </table>
        </div>-->
        <!-- Modal footer -->
        <!--<div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>-->

    </div>
    <div class="container" id="display-food">
        <h1>Ordered Food Items</h1>
        <div class="table-responsive-sm">
            <table class="table table-striped table-hover table-bordered" style="box-shadow: 0px 10px 40px -10px rgba(0,0,0,0.7);">
                <thead class="thead">
                    <tr>
                        <th scope="col">
                            <center>
                                ID
                            </center>
                        </th>
                        <th scope="col">
                            <center>
                                User ID
                            </center>
                        </th>
                        <th scope="col">
                            <center>
                                User Name
                            </center>
                        </th>
                        <th scope="col">
                            <center>
                                Type ID
                            </center>
                        </th>
                        <th scope="col">
                            <center>
                                Name
                            </center>
                        </th>
                        <th scope="col">
                            <center>
                                Quanity
                            </center>
                        </th>
                        <th scope="col">
                            <center>
                                Sub Total
                            </center>
                        </th>
                        <th>Options</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in (List<FoodManagement.Models.PAIDITEM>)ViewData["data"])
                    {
                        <tr>
                            <td scope="row">
                                <center>
                                    @Html.DisplayFor(modelItem => item.ID)
                                </center>
                            </td>
                            <td>
                                <center>
                                    @Html.DisplayFor(modelItem => item.USERID)
                                </center>
                            </td>
                            <td>
                                <center>
                                    @Html.DisplayFor(modelItem => item.USER_REGISTRATION.NAME)
                                </center>
                            </td>
                            <td>
                                <center>
                                    @Html.DisplayFor(modelItem => item.TYPEID)
                                </center>
                            </td>
                            <td>
                                <center>
                                    @Html.DisplayFor(modelItem => item.NAME)
                                </center>
                            </td>
                            <td>
                                <center>
                                    @Html.DisplayFor(modelItem => item.QUANTITY)
                                </center>
                            </td>
                            <td>
                                <center>
                                    <span style="color:red">Rs.</span>@Html.DisplayFor(modelItem => item.PRICE)
                                </center>
                            </td>
                            <td id="btn-edit">
                                <center>
                                    <button class="btn">

                                        @Html.ActionLink("Remove", "PaidItemDelete", new { id = item.TYPEID })
                                    </button>
                                </center>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>


    </div>
</body>
</html>

